extends layout.pug

block content
		
append scripts
	script(type="text/javascript", src="/javascripts/http-live-player.js")
	script(src='/javascripts/bootstrap-slider.js')
	script(src='/javascripts/stream.js')
